<div class="grid-container main">
  <div class="grid-y medium-grid-frame">
    <div class="cell shrink header medium-cell-block-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-12 small-12">
            <a href="https://rte.ie/radio1">
            <img src="https://static.rasset.ie/static/radio/images/Radio1_landscape.png" alt="" style="max-width:200px; padding-bottom:30px;margin:0 auto; display:block;">
            </a>
        </div>
 
      </div>
    </div>
    <div class="cell medium-auto medium-cell-block-container small-cell-block-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-4 small-12 small-cell-block-y medium-cell-block-y">
          <div class="mobile_nav show-for-small-only">
            <button {{action "toggleMobileNav"}} class="mobNav">
              {{#if showMobileNav}}
                <i class="fa fa-times"></i>
              {{else}}
              <i class="fa fa-bars"></i>
              {{/if}}
            </button>
          </div>
          {{#link-to "index"}}
        <img src="assets/images/joinaclub.png" alt="" style="margin-bottom:20px;" class="logo">
         {{/link-to}}
         <div class="dt_nav">
            {{nav-buttons  toggle=(action 'toggleMobileNav')}}
       </div>
        </div>
        <div class="small-12 show-for-small-only">
          {{#if showMobileNav}}
            {{nav-buttons toggle=(action 'toggleMobileNav')}}
          {{/if}}
        </div>
        <div class="cell medium-8 small-12 medium-cell-block-y">
            {{outlet}}
        </div>
      </div>
    </div>
    <div class="cell shrink footer" style="align-items: center;">
        <div class="cell medium-4 medium-cell-block-y">
        </div>
    </div>
  </div>
</div>

<!-- rte footer -->

<footer class="rte-global-footer">
    
        <div class="row more-links">
            
                

<div class="large-2 medium-4 columns">
    <div class="menu-heading">Read</div>
    <ul class="first">
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"News","rte_ref_sp":"1"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"1", "format":"nav", "url":"News"}' href="https://www.rte.ie/news/">News</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Sport","rte_ref_sp":"2"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"2", "format":"nav", "url":"Sport"}'  href="https://www.rte.ie/sport/">Sport</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Entertainment","rte_ref_sp":"3"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"3", "format":"nav", "url":"News"}' href="https://www.rte.ie/entertainment/">Entertainment</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Lifestyle","rte_ref_sp":"4"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"4", "format":"nav", "url":"News"}' href="https://www.rte.ie/lifestyle/">Lifestyle</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Culture","rte_ref_sp":"5"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"5", "format":"nav", "url":"News"}' href="https://www.rte.ie/culture/">Culture</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Business","rte_ref_sp":"6"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"6", "format":"nav", "url":"News"}' href="https://www.rte.ie/business/">Business</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Weather","rte_ref_sp":"7"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"7", "format":"nav", "url":"News"}' href="https://www.rte.ie/weather/">Weather</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Gaeilge","rte_ref_sp":"8"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"8", "format":"nav", "url":"News"}' href="https://www.rte.ie/gaeilge/">Gaeilge</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Tech & Innovation","rte_ref_sp":"9"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"9", "format":"nav", "url":"News"}' href="https://www.rte.ie/eile/tech/">Tech & Innovation</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Brainstorm","rte_ref_sp":"10"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"10", "format":"nav", "url":"News"}' href="https://www.rte.ie/eile/brainstorm/">RTÉ Brainstorm</a></li>
    </ul>
</div>

<div class="large-2 medium-4 columns">
    <div class="menu-heading">Watch & Listen</div>
    <ul>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Player","rte_ref_sp":"11"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"11", "format":"nav", "url":"Player"}' href="http://www.rte.ie/player/">RTÉ Player</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Player International","rte_ref_sp":"12"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"12", "format":"nav", "url":"Player International"}' href="http://www.rte.ie/playerinternational/">RTÉ Player International</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Live","rte_ref_sp":"13"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"13", "format":"nav", "url":"Live"}' href="http://www.rte.ie/live/">RTÉ Live</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"TV","rte_ref_sp":"14"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"14", "format":"nav", "url":"TV"}' href="http://www.rte.ie/tv/">TV</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Radio","rte_ref_sp":"15"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"15", "format":"nav", "url":"Radio"}' href="http://www.rte.ie/radio/">Radio</a></li>
    </ul>
</div>

<div class="large-2 medium-4 columns">
    <div class="menu-heading">RTÉ Services</div>
    <ul>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Archives","rte_ref_sp":"16"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"16", "format":"nav", "url":"Archives"}' href="http://www.rte.ie/archives/">RTÉ Archives</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Orchestras","rte_ref_sp":"17"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"17", "format":"nav", "url":"Orchestras"}' href="http://www.rte.ie/orchestras/">RTÉ Orchestras</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Shop","rte_ref_sp":"18"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"18", "format":"nav", "url":"Shop"}'  href="http://www.rte.ie/shop/">RTÉ Shop</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Century Ireland","rte_ref_sp":"19"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"15", "format":"nav", "url":"Century Ireland"}' href="http://www.rte.ie/centuryireland/">Century Ireland</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Lotto","rte_ref_sp":"20"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"19", "format":"nav", "url":"Lotto"}' href="http://www.rte.ie/lotto/">Lotto</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Aertel","rte_ref_sp":"21"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"20", "format":"nav", "url":"Aertel"}' href="http://www.rte.ie/aertel/">RTÉ Aertel</a></li>
    </ul>
</div>

<div class="clearfix show-for-medium-only"></div>

<div class="large-2 medium-4 columns">
    <div class="menu-heading">Youth</div>
    <ul>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"TRTE","rte_ref_sp":"22"}'  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"22", "format":"nav", "url":"TRTE"}' href="http://trte.rte.ie/homepage/">TRTÉ</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"RTEJr","rte_ref_sp":"22"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"22", "format":"nav", "url":"RTEJr"}' href="http://rtejr.rte.ie/home/">RTÉJr</a></li>
    </ul>
</div>

<div class="large-2 medium-4 columns">
    <div class="menu-heading">Help</div>
    <ul>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Contact","rte_ref_sp":"24"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"24", "format":"nav", "url":"Contact"}'  href="mailto:info@rte.ie">Contact</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Feedback","rte_ref_sp":"25"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"25", "format":"nav", "url":"Feedback"}'  href="mailto:feedback@rte.ie">Feedback</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Complaints","rte_ref_sp":"26"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"26", "format":"nav", "url":"Complaints"}'  href="http://www.rte.ie/about/en/information-and-feedback/complaints/">Complaints</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Terms & Conditions","rte_ref_sp":"27"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"27", "format":"nav", "url":"Terms & Conditions"}'  href="http://www.rte.ie/about/en/serving-our-audience/2012/0815/333706-terms-and-conditions-for-rte-ie/">Terms & Conditions</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Individual Rights Guide","rte_ref_sp":"28"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"28", "format":"nav", "url":"Individual Rights Guide"}'  href="http://www.rte.ie/about/en/policies-and-reports/policies-guidelines/2012/0417/317412-rte-data-protection-policy/">Individual Rights Guide</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"RTÉ Privacy Policy","rte_ref_sp":"29"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"29", "format":"nav", "url":"RTÉ Privacy Policy"}'  href="http://www.rte.ie/about/en/policies-and-reports/policies-guidelines/2012/0417/317440-rte-privacy-statement/">RTÉ Privacy Policy</a></li>
    </ul>
</div>

<div class="large-2 medium-4 columns">
    <div class="menu-heading">Information</div>
    <ul>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Information","rte_ref_sp":"30"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"30", "format":"nav", "url":"Information"}'  href="mailto:info@rte.ie">Information</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"About","rte_ref_sp":"31"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"31", "format":"nav", "url":"About"}'  href="http://www.rte.ie/about/">About RTÉ</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Licence Fee","rte_ref_sp":"32"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"32", "format":"nav", "url":"Licence Fee"}'  href="http://www.rte.ie/about/en/how-rte-is-run/2012/0221/291618-the-license-fee/">License Fee</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Careers","rte_ref_sp":"33"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"33", "format":"nav", "url":"Careers"}'  href="http://www.rte.ie/about/en/working-with-rte/vacancies/">Careers</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Annual Report","rte_ref_sp":"34"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"34", "format":"nav", "url":"Annual Report"}'  href="http://www.rte.ie/about/en/policies-and-reports/annual-reports/">Annual Report</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Media Sales","rte_ref_sp":"35"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"35", "format":"nav", "url":"Media Sales"}'  href="http://www.rte.ie/mediasales/">Advertise with RTÉ</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"2rn","rte_ref_sp":"36"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"36", "format":"nav", "url":"2rn"}'  href="http://www.2rn.ie/">2rn</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Saorview","rte_ref_sp":"37"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"37", "format":"nav", "url":"Saorview"}'  href="http://www.saorview.ie/">SAORVIEW</a></li>
        <li><a data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Newsletters","rte_ref_sp":"38"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"footer","creation":"end", "variant":"38", "format":"nav", "url":"Newsletters"}'  href="https://www.rte.ie/newsletters/">Newsletters</a></li>
    </ul>
</div>

<div class="large-12 columns"><div class="break"></div></div>

<div class="large-4 columns social-btn-container">
    <div class="menu-heading">Follow RTÉ</div>
    <div class="btn-group">
        <i class="twitter dotie-icon_twitter"><a href="https://twitter.com/rte" data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"twitter","creation":"end", "variant":"", "format":"", "url":""}' target="_blank"></a></i>
        <i class="facebook dotie-icon_facebook"><a href="https://www.facebook.com/ExploreRTE/" target="_blank"  data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"facebook","creation":"end", "variant":"", "format":"", "url":""}' ></a> </i>
        <i class="instagram dotie-icon_instagram"><a href="https://www.instagram.com/explorerte/" target="_blank" data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"instagram","creation":"end", "variant":"", "format":"", "url":""}' ></a></i>
        <i class="linkedin dotie-icon_linkedin"><a href="https://ie.linkedin.com/company/rte/" target="_blank" data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"linkedin","creation":"end", "variant":"", "format":"", "url":""}' ></a></i>
        <i class="youtube dotie-icon_youtube"><a href="https://www.youtube.com/user/rte" target="_blank" data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"youtube","creation":"end", "variant":"", "format":"", "url":""}' ></a></i>
    </div>
</div>

            
        </div>
        <div class="disclaimer">
            <div class="row">
                <div class="large-10 large-offset-1 columns">
                    <p>RTÉ.ie is the website of Raidió Teilifís Éireann, Ireland's National Public Service Broadcaster.<br/> RTÉ is not responsible for the content of external internet sites. Images courtesy of Inpho.ie and Getty Images</p>
                    <p>© RTÉ 2018</p>
                    <a class="footer-logo" href="/" data-cs-tracking='{"rte_ref_pn":"nav", "rte_ref_pt":"footer", "rte_ref_pp":"0", "rte_ref_hl":"Logo","rte_ref_sp":"0"}' data-ati-tracking='{"campaign":"6[footer]","generalPlacement":"logo","creation":"end", "variant":"0", "format":"nav", "url":"Logo"}'>
                        <i class="dotie-icon_logo_rte"></i>
                    </a>
                </div>
            </div>
        </div>
    
    <div id="cookie-policy-strap" class="animate-show">
        <div class="inner">
            <div class="cookie-disclaimer">
                <p>RTÉ uses cookies in accordance with our <a href="https://www.rte.ie/cookies/" target="_blank">Cookie Policy</a></p>
                <div class="button-group">
                    <a href="https://www.rte.ie/cookies/" target="_blank" class="button more" id="cookie-more-info">More Info</a>
                    <a href="javascript:void(0)" class="button accept" id="cookie-accept">I Understand</a>
                </div>
            </div>
            <div id="close-strap">
                <a href="javascript:void(0)" class="button close" id="cookie-close"></a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//dj.rasset.ie/dotie/js/cookie-policy.js?v=20181008v0"></script>
</footer>



